<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.reddeer.codegen"
            name="RedDeer CodeGen"
            parentCategory="org.eclipse.reddeer.tools">
      </category>
      <wizard
            category="org.eclipse.reddeer.codegen"
            class="reddeer.codegen.wizards.CodeGenWizard"
            icon="icons/reddeer_icon.png"
            id="reddeer.codegen.wizards.CodeGenWizard"
            name="CodeGen">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.reddeer.codegen.commands.category"
            name="CodeGen Category">
      </category>
      <command
            categoryId="org.eclipse.reddeer.codegen.commands.category"
            id="org.eclipse.reddeer.codegen.commands.codeGenCommand"
            name="CodeGen Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="reddeer.codegen.handlers.CodeGenHandler"
            commandId="org.eclipse.reddeer.codegen.commands.codeGenCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.reddeer.codegen.commands.codeGenCommand"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+G">
      </key>
   </extension>

</plugin>
